* {
    box-sizing: content-box;
}


body {
    background: mediumslateblue;
    padding: 30px;
    width: 800px;
    height: 100vh;
    margin-left: 15%;
}

.container {
    border-radius: 15px;
    background: black;
    box-shadow: 3px 5px 4px rgba(46, 1, 55, 0.616);
    display: grid;

    grid-template-rows: 40px 30px 50px 300px 150px 20px;

    grid-template-columns: 40px 50px 40px 300px 50px 50px;
}

.grid {
    /*border: 1px dashed darkslateblue;*/
    text-align: center;
}

#header {
    border: none;
    grid-row: 1 / 2;
    grid-column: 1/8;
    background: darkslateblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: 0px 2px 3px 0px rgba(13, 3, 37, 0.163);
    z-index: 1;
}

.header-corner {
    border: none;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: lavender;
    text-align: center;
    padding: 5px;
    margin-top: 3px;
    z-index: 2;
}

.header-flex {
    z-index: 2;
    /*border: 1px dotted deeppink;*/
    width: 100%;
    height: 100%;
    padding: 3px;
    margin-top: 3px;
    flex-direction: row;
    color: thistle;
}

#tabs {
    grid-row: 2 / 3;
    grid-column: 4 / 8;
    background: rgb(19, 7, 52);
    border: none;
}

.tabs-container {
    display: flex;
    flex-direction: column;
}

.tabs {
    width: 100%;
    height: 15px;

    color: thistle;
    font-size: 6px;
    font-family: monospace;
    display: flex;
    flex-direction: row;
}

.tabs-url {
    width: 100%;
    height: 10px;

    text-align: left;
    padding: 3px;
    margin-left: 5px;
    color: thistle;
    font-size: 6px;
    font-family: monospace;
}

#nav {
    border: none;
    grid-row: 2 / 6;
    grid-column: 1 / 2;
    background: rgb(41, 35, 80);
    padding: 5px;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#article {
    border-left: 1px solid rgb(41, 35, 80);
    margin-left: 35px;
    grid-row: 3/5;
    grid-column: 4/8;
    background: black;
}

.article-flex {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.article-container {
    width: 50%;
    height: 100%;

    color: thistle;
    font-size: 5px;
    font-family: monospace;
    text-align: left;
    font-weight: 900;
    overflow-y: auto;
    scrollbar-width: none;
}

.svg-container {
    text-align: end;
    width: 50%;
    padding-top: 160px;
}

#aside {
    border: none;
    grid-row: 2 / 6;
    grid-column: 2 / 4;
    background: rgb(60, 45, 103);
    padding-left: 10px;
}

#terminal {
    background: darkslateblue;
    grid-row: 5 / 6;
    grid-column: 4 / 8;
    border-top: 1px solid rgb(84, 69, 184);
}

.terminal-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 500px;
    font-family: monospace;

    font-weight: 900;
    text-decoration: underline rgba(250, 128, 114, 0.604);
    color: rgb(163, 149, 240);
    font-size: 8px;
    justify-content: space-evenly;
}

#footer-corner {
    border: none;
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    background: salmon;
    border-bottom-left-radius: 10px;
    text-align: center;
}

#footer {
    border: none;
    grid-row: 6 / 7;
    grid-column: 1 / 8;
    background: rgb(84, 69, 184);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.footer-flex {
    display: flex;
    flex-direction: row;
    width: 140px;
    text-align: right;
    font-family: monospace;
    color: rgb(131, 94, 244);
    justify-content: right;
}

#dynamicForm > div {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}

input {
    background-color: transparent;
    width: 100px;
    font-size: 7px;
    font-family: monospace;
    color: mediumslateblue;
    padding: 2px;
    border: 1px solid white;
    margin-block: 10px;
    margin-inline: 5px;
    border-radius: 10px;
}

textarea {
    background-color: transparent;
    width: 100px;
    height: 30px;
    font-size: 7px;
    font-family: monospace;
    color: mediumslateblue;
    padding: 4px;
    border: 1px solid white;
    margin-block: 10px;
    margin-inline: 5px;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
}

#glow {
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
            0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
            0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
            0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6,
            0 0 80px #ff4da6;
    }
}
